
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
img {
    width: 100%;
}
.top_heading h1 {
    font-size: 50px;
}
.top_heading h1 span {
    color: #FFA500;
}
.half_width {
    float: left;
    width: 40%;
    margin-left: 100px;
    margin-top: 20px;
}

.top-container {
    background-image: url(../images/top-banner.png);
    height: 500px;
    background-repeat: no-repeat;
}
.about_with_btn p {
    color: gray;
}
.about_with_btn a {
    text-decoration: none;
    background-image: linear-gradient(35deg,#faa186,#f36448);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 600;
}
.big_dream_container {
    background-image: url(../images/dream-bg.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: right;
}
.exp_container {
    background-image: url(../images/exp-bg.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: left;
}
.big_dream_container ,.exp_container {
    width: 100%;
    overflow: hidden;
    height: 600px;
}
.big_dream_right h2 {
    font-size: 40px;
}

.exp_container > h2 {
    font-size: 40px;
}
.exp_item {
    float: left;
    width: 38%;
    margin-left: 6%;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    height: 350px;
}
.exp_item h2 {
    font-size: 40px;
}
.exp_item h3 {
    color: #FFA500;
}
.exp_item p {
    color: gray;
}
#right_border {
    border-left: 8px solid;
    border-image: linear-gradient( 180deg, #f58872, #FF6A4D);
    border-image-slice: 1;
}
#left_border {
    border-left: 8px solid;
    border-image: linear-gradient( 180deg,#48d3ec, #0003FF);
    border-image-slice: 1;
}
footer p {
    text-align: center;
    padding: 20px 0;
}